.flex {
    display: flex;
}

/* Navigation Menu */

body {
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;;
}

.primary-header {
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background: hsl(0 0% 100%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;
    transition: box-shadow 0.5s;
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.primary-navigation li {
    cursor: pointer;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media (max-width: 35em) {

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 40%;
        flex-direction: column;
        padding: min(20vh, 5rem) 2em;
        background: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(1rem);
        align-items: center;
        transform: translateX(100%);
        z-index: 950;
    }

    .primary-navigation li {
        opacity: 0;
        color: white;
    }

    .burger {
        display: block;
    }
}

.primary-navigation[state="active"] {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.primary-navigation[state="inactive"] {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

@keyframes naviagtionLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.category-header {
    text-align: center;
}

/* Intro */

.intro {
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.intro h2 {
    font-weight: 500;
    font-size: 25px;
}

.intro h2 span {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.intro-type {
    display: inline;
    
}

@media (max-width: 890px) {
    .intro {
        flex-direction: column;
        gap: 2rem;
    }
}

/* About */

@media (max-width: 740px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

.about {
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.card-container {
    justify-content: center;
}

.about-card {
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 2.5rem 3.75rem 4rem -3rem hsl(217 19% 35% / 0.25);
    width: max(25%, 345px);
}

.about-header {
    font-size: 1.25rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 1rem;
}

.about-content {
    opacity: 0.7;
    text-align: justify;
}

/* Events */

.hidden {
    display: none;
}

.event-upcoming, .event-old {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 0px 1fr;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
}

.event-image {
    width: 540px;
    height: 540px;
}

.event-image img {
    width: 100%;
    height: 100%;
}

.event-line {
    border-left: 2px solid gray;
    height: 488px;
    opacity: 0.5;
}

.event-item {
    width: 540px;
}

.event-item:nth-child(1) {
    justify-self: right;
}

@media (max-width: 1120px) {
    .event-upcoming, .event-old {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        margin: 1rem;
        box-shadow: 4rem 3.75rem 4rem -3rem hsl(217 19% 35% / 0.25);
        margin: 2rem;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .event-line {
        display: none;
    }

    .event-details {
        padding-top: 1rem;
        width: min(540px, 75%);
        height: min(540px, 75%);
    }
    .event-image {
        width: min(540px, 75%);
        height: min(540px, 75%);
        margin-bottom: 2rem;
    }

    .event-old:nth-child(odd), .event-upcoming:nth-child(odd) {
        flex-direction: column-reverse;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.closee {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;x
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}